/* *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
} */


.content-colored{
 background-color: #253053;
}
.content-white{
 background-color: white;
 margin-top: 70px;
}

/* .container-fluid{
 padding: 100px 0;
 background-image: url(./demo/filters_format\(webp\).webp);
 background-repeat: no-repeat;
 background-size:cover;
} */