*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* nav styling */
nav{
 height: 80px;
background-color: white;
}
nav .nav-link, nav button{
 font-size: 16px;
 font-weight: 700;
 line-height: 20px;
}
.nav-link:focus .dropdown-toggle, .nav-link:active .dropdown-toggle{
 transform: rotate(180deg);
}
.dropdown-menu ul li{
 list-style-type: none;
}
.dropdown-menu p{
 font-size:14px;
 font-weight:400;
 line-height:24px;
 color:rgb(99, 107, 131) ;
}
.navbar .transit:hover h6{
 color: #294dff;
}
.navbar .transit:hover .bi-arrow-right{
 transform: translateX(10px);
 color: blue;
}
.dropdown-menu a, .dropdown-menu h6{
 color: #384262;

}
.dropdown-menu .col-3 li{
  background-color: none;
}
.dropdown-menu a:hover{
 color: #294dff;
}
h1{
 font-size: 58px !important; 
 font-weight:400 !important;
 line-height: 64px !important;
}

h2{
 font-size: 46px !important; 
 font-weight:400 !important;
 line-height: 48px !important;
 color: rgb(37, 48, 83);
}
h3{
 font-size: 34px !important; 
 font-weight:400 !important;
 line-height: 32px !important;
 color: rgb(37, 48, 83);
}
h4{
 font-size: 24px;
 font-weight:400;
 line-height: 34px;
 color: rgb(37, 48, 83);
}
.star{
 color: orange;
}

/* main boddy section */
.hero{
 background-color: #253053;
}
.covered{
 color: #384262;
 text-decoration: none;
}
.covered:hover{
color: #384262;
text-decoration: none;
}
.tab-content a{
 color: rgb(99, 107, 131);
 text-decoration: underline;
 text-decoration-color: blue;
}

.customer-say{
 background-color: #f2f8ff;
}
.action{
 background-color: #294dff;
 padding: 70px 0;
}
.action h6{
font-size: 14px;
font-weight:700;
line-height: 21px;
}
.improve, .automate, .leaks{
 margin: 100px 0;
}
.improve h6, .automate h6, .leaks h6{
 font-size: 18px !important; 
 font-weight:700 !important;
 line-height: 32px !important;
}
.improve p, .automate p, .leaks p{
 font-size: 18px !important; 
 font-weight:400 !important;
 line-height: 32px !important;
 color: rgb(99, 107, 131);
}
.our-customer .card-link:hover .bi-arrow-right, .more:hover .bi-arrow-right{
 transform: translateX(10px);
 color: blue;
}

.accord-sec{
 background-color: #f2f8ff;
}

.navy{
 background-color: #253053;
}
.navy li{
 font-size: 18px !important; 
 font-weight:400 !important;
 line-height: 32px !important;
}
.navy ul{
 list-style-type: none;
}
.navy ul{
 list-style-image: url(./hub-home/check-circle-fill.svg);
 filter: brightness(0) invert(1)
}
.tab-content p, .productivity p, .productivity li{
 font-size: 18px !important; 
 font-weight:400 !important;
 line-height: 32px !important;
 color: rgb(99, 107, 131);
}
.productivity li::marker{
 color: #294dff;
}

.crm-stories{
 background-color: #f2f8ff;
 padding: 100px 0
}
.carousel-indicators .buttun{
 background-color: blue;
}
.try{
 background-color: #294dff;
}
.try button{
 background-color: #253053;
 color: white;
}
.try button:hover{
 background-color: blue;
 color: white;
}
.try div{
 padding: 100px 0;
}
/* navy blue animation section */

.text-contain{
 padding: 100px 0;
}

.left-child-1{
 background-color: white; 
 width: 96px;
 height: 96px;
 position: absolute; 
 left: -1;
}
.left-child-2{
 background-color: white;
 width: 64px; height: 64px; 
 position:absolute; 
 top: 15%; 
 left: 35%;
}
.left-child-3{
 background-color: #f9e9b1; 
 width: 112px; 
 height: 112px;
 position: absolute; 
 left:50%; 
 top: 16%;
}
.left-child-4{
 background-color:#28a037; 
 width: 96px; 
 height: 96px; 
 position: absolute; 
 top: 45%; 
 left: 20%;
}
.left-child-5{
 background-color: white; 
 width: 64px; 
 height: 64px; 
 position: absolute; 
 top: 50%; 
 left: 80%;
}
.left-child-6{
 background-color: white; 
 width: 96px; 
 height: 96px; 
 position: absolute; top: 80%;
}
.left-child-7{
 background-color: white; 
 width: 124px; 
 height: 124px; 
 position: absolute; 
 top: 67%; 
 left: 45%;
}
.left-child-8{
 background-color: white; 
 width: 96px; 
 height: 96px; 
 position: absolute; 
 top: 75%; 
 left: 75%;
}

.right-child-1{
 background-color: #0083ce; 
 width: 96px; 
 height: 96px; 
 position: absolute; 
 top: 10%;
}
.right-child-2{
 background-color: #f45d48; 
 width: 64px; 
 height: 64px; 
 position: absolute; 
 right: 40%; 
 top: 15%;
}
.right-child-3{
 background-color:#88e95d; 
 width:112px; 
 height:112px; 
 position: absolute; 
 right: 12%;
}
.right-child-4{
 background-color: white; 
 width: 124px; 
 height: 124px; 
 position: absolute; 
 top: 40%; 
 right: 50%;
}
.right-child-5{
 background-color: white; width: 96px; 
 height: 96px; position: absolute; 
 top: 38%; right: 5%;
}
.right-child-6{
 background-color: black; width: 96px; 
 height: 96px; position: absolute; 
 top: 80%;
 right: 90%;
}
.right-child-7{
 background-color: white; width: 64px; height: 64px; 
 position: absolute; 
 top: 80%;
 right: 50%;
}
.right-child-8{
 background-color: #ff5621; width: 64px; height: 64px; 
 position: absolute; top: 90%;
 right: 20%;
}
/* animation */
.animate-div1{
 animation: div-anim 0.8s 2 linear;
}
.animate-div2{
 animation: div-anim 0.2s 2 linear;
}
.animate-div3{
 animation: div-anim 0.4s 2 linear;
}
.animate-div4{
 animation: div-anim 0.6s 2 linear;
}
@keyframes div-anim {
 10%{
  display: none;
 }
 20%{
  display: block;
  scale: 0.2;
 }
 30%{
  display: block;
  scale: 0.5;
 }
 40%{
  display: block;
  scale: 0.7;
 }
 50%{
  display: block;
  scale: 1;
 }
 60%{
  display: block;
  scale: 0.7;
 }
 70%{
  display: block;
  scale: 0.5;
 } 
 80%{
  display: block;
  scale: 0.2;
 } 
 100%{
  display:none;
 
 }
}

/* footer styling */

.social-media a{
 color: white;
}
footer .nav-item a{
 color: white;
}
footer .nav-item a:hover{
 color: white;
 text-decoration: underline;
}
.lower-footer a, .lower-footer p{
 color: white;
 text-decoration: none;
}
